.shiny {
  color: rgb(88, 127, 199);
  position: relative;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}

.shiny::after {
  content: '';
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 150px;
  height: 150px;
  background: radial-gradient(#145779, #0c2e6400 70%);

  opacity: 0;
  transition: opacity 0.2s;
}

.shiny:hover::after {
  opacity: 0.4;
}

.content {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.domain {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.domain:before {
  border-radius: inherit;
  display: block;
  width: 200%;
  height: 200%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #102030 30%, #063868 50%, #102030 75%);
  transition: all 1.5s;
  transform: translate(-25%, -25%);
  z-index: 0;
}

.domain:hover:before {
  transform: translate(-25%, -25%) rotate(-180deg);
}

.domain:hover {
  box-shadow: 0 0 35px rgba(56, 112, 175, 0.3);
}
