@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


a,
button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Kanit', sans-serif;
}

p, div, span {
  font-family: 'Josefin Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181f27;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #183149;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e1d2b;
}
